* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  background: url("../public/bg.png");
}

.counter {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 50px;

  .top-buttons,
  .bottom-buttons {
    display: flex;
    gap: 50px;
  }

  button {
    display: flex;
    align-items: flex-start;
    padding: 24px 129px;
    width: 323px;
    height: 89px;

    font-family: "Courier New";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 41px;

    border: none;

    color: white;
    background: #4a4c57;
    cursor: pointer;

    transition: 0.111s ease-out;

    &:hover {
      background: darken($color: #4a4c57, $amount: 7);
    }

    &:active {
      background: darken($color: #4a4c57, $amount: 14);
    }
  }

  input {
    width: 323px;
    height: 89px;
    font-family: "Courier New";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    color: #4a4c57;
    border: none;
    border-bottom: 2px solid #4a4c57;
    background: transparent;
  }

  p {
    width: 100%;
    text-align: center;
    font-family: "Courier New";
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    color: #4a4c57;
    line-height: 109px;
  }
}
